---
---
/* Mermi (Sağdan Sola Atış) */
#projectile { 
    position: absolute; 
    right: 150px; /* Karakterin olduğu sağ taraf */
    font-size: 30px; 
    opacity: 0;
}

.fire { 
    animation: shoot 0.6s linear forwards; 
}

@keyframes shoot {
    0% { opacity: 1; right: 150px; }
    100% { opacity: 1; right: 80%; } /* Sağa yakın noktadan sola doğru uçar */
}
