---
---
body { background: #000; color: #0f0; font-family: monospace; }
.char { font-size: 50px; transition: 0.3s; }

/* Hasar Alma Efekti */
.hit { transform: scale(1.2) rotate(10deg); filter: invert(1); }

/* Mermi Efekti */
#projectile { 
    display: none; position: absolute; left: 150px; font-size: 30px; 
}
.fire { animation: shoot 0.5s linear; }

@keyframes shoot {
    from { left: 150px; }
    to { left: 80%; }
}
